[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.0"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
idna = "==2.9"
numpy = "==1.17.3"
requests = "==2.23.0"
soupsieve = "==2.0"
urllib3 = "==1.25.9"
virtualenv = "==16.7.6"
"pdfminer.six" = "==20200402"
mojimoji = "==0.0.10"
mypy = "==0.770"
simplejson = "==3.17.2"
xlrd = "==1.2.0"
pandas = "==1.0.4"

[dev-packages]

[requires]
python_version = "3.8"


[scripts]
start = "python from_excel.py"
